.coins {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coins_img {
  width: 70px;
  height: 70px;
}

.coins_number {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(215, 167, 8);
  font-family: "Butcherman", system-ui;
}